In [57]:
import pandas as pd
import numpy as np
from itertools import zip_longest

In [42]:
data_frame = pd.read_csv('group_2.csv')

In [43]:
data_frame.head(5)

,Job Title,Employment Type,Experience Level,Expertise Level,Salary,Salary Currency,Company Location,Salary in USD,Employee Residence,Company Size,Year
0,Machine Learning Manager,Full-Time,Senior,Expert,120000,Euro,United States,129562,Germany,Large,2023
1,BI Data Analyst,Full-Time,Entry,Junior,50000,United States Dollar,Kenya,50000,Kenya,Small,2023
2,AI Engineer,Full-Time,Senior,Expert,227850,United States Dollar,United States,227850,United States,Medium,2023
3,AI Engineer,Full-Time,Senior,Expert,180500,United States Dollar,United States,180500,United States,Medium,2023
4,Data Analyst,Full-Time,Mid,Intermediate,90000,United States Dollar,United States,90000,United States,Medium,2023

In [44]:
data_frame.columns = data_frame.columns.str.replace(" ", "_").str.lower()

In [120]:
def short_cut(currency: str | None) -> str:
    if currency is None:
        return None
    currency = currency.split()
    if len(currency) == 1:
        return currency[0]
    return "".join(string[0] for string in currency)

In [63]:
data_frame.salary_currency = data_frame.salary_currency.apply(short_cut)

In [143]:
def get_good_titles(sequence: list[str, ...]) -> dict[str, ...]:
    result = dict()
    def _group_by(string: str):
        string = string.strip().replace(' ', '').lower()
        _head = next(iter(string))
        for element in string:
            if _head != element:
                yield _head
                _head = element
        yield _head
    
    for titile in sequence:
        normalized =  short_cut(''.join(map(str, _group_by(titile))))
        if normalized not in result:
            result[normalized] = {'titile': titile, 'joins': list()}
        else:
            result[normalized]['joins'].append(titile)
    return result

In [142]:
job_titles = data_frame.job_title.unique()

In [144]:
good_job_titles = get_good_titles(job_titles)

In [145]:
good_job_titles = {title: values for title, values in sorted(good_job_titles.items(), key=lambda item: item[-1]['joins'], reverse=True)}

In [146]:
for title, values in good_job_titles.items():
    print(title, values)

datamodeler {'titile': 'Data Modeler', 'joins': ['Data Modeller']}
machinelearningmanager {'titile': 'Machine Learning Manager', 'joins': []}
bidatanalyst {'titile': 'BI Data Analyst', 'joins': []}
aienginer {'titile': 'AI Engineer', 'joins': []}
datanalyst {'titile': 'Data Analyst', 'joins': []}
dataenginer {'titile': 'Data Engineer', 'joins': []}
datalead {'titile': 'Data Lead', 'joins': []}
machinelearningenginer {'titile': 'Machine Learning Engineer', 'joins': []}
mlenginer {'titile': 'ML Engineer', 'joins': []}
datascientist {'titile': 'Data Scientist', 'joins': []}
researchscientist {'titile': 'Research Scientist', 'joins': []}
analyticsenginer {'titile': 'Analytics Engineer', 'joins': []}
datavisualizationenginer {'titile': 'Data Visualization Engineer', 'joins': []}
datarchitect {'titile': 'Data Architect', 'joins': []}
datamanager {'titile': 'Data Manager', 'joins': []}
businesinteligencedeveloper {'titile': 'Business Intelligence Developer', 'joins': []}
bideveloper {'titile': 'BI Developer', 'joins': []}
businesinteligencenginer {'titile': 'Business Intelligence Engineer', 'joins': []}
dataspecialist {'titile': 'Data Specialist', 'joins': []}
researchenginer {'titile': 'Research Engineer', 'joins': []}
businesinteligenceanalyst {'titile': 'Business Intelligence Analyst', 'joins': []}
dataintegrationspecialist {'titile': 'Data Integration Specialist', 'joins': []}
leadatascientist {'titile': 'Lead Data Scientist', 'joins': []}
apliedscientist {'titile': 'Applied Scientist', 'joins': []}
directorofdatascience {'titile': 'Director of Data Science', 'joins': []}
aideveloper {'titile': 'AI Developer', 'joins': []}
principalmachinelearningenginer {'titile': 'Principal Machine Learning Engineer', 'joins': []}
principaldataenginer {'titile': 'Principal Data Engineer', 'joins': []}
datanalyticsmanager {'titile': 'Data Analytics Manager', 'joins': []}
airesearchenginer {'titile': 'AI Research Engineer', 'joins': []}
datasciencemanager {'titile': 'Data Science Manager', 'joins': []}
decisionscientist {'titile': 'Decision Scientist', 'joins': []}
researchanalyst {'titile': 'Research Analyst', 'joins': []}
machinelearningscientist {'titile': 'Machine Learning Scientist', 'joins': []}
powerbideveloper {'titile': 'Power BI Developer', 'joins': []}
dataoperationsenginer {'titile': 'Data Operations Engineer', 'joins': []}
dataqualityanalyst {'titile': 'Data Quality Analyst', 'joins': []}
datascienceconsultant {'titile': 'Data Science Consultant', 'joins': []}
apliedatascientist {'titile': 'Applied Data Scientist', 'joins': []}
headofdatascience {'titile': 'Head of Data Science', 'joins': []}
datastrategist {'titile': 'Data Strategist', 'joins': []}
machinelearningsoftwarenginer {'titile': 'Machine Learning Software Engineer', 'joins': []}
bianalyst {'titile': 'BI Analyst', 'joins': []}
aiprogramer {'titile': 'AI Programmer', 'joins': []}
aiarchitect {'titile': 'AI Architect', 'joins': []}
computervisionenginer {'titile': 'Computer Vision Engineer', 'joins': []}
principaldatascientist {'titile': 'Principal Data Scientist', 'joins': []}
stafmachinelearningenginer {'titile': 'Staff Machine Learning Engineer', 'joins': []}
stafdatascientist {'titile': 'Staff Data Scientist', 'joins': []}
consultantdataenginer {'titile': 'Consultant Data Engineer', 'joins': []}
machinelearningspecialist {'titile': 'Machine Learning Specialist', 'joins': []}
headofdata {'titile': 'Head of Data', 'joins': []}
dataqualityenginer {'titile': 'Data Quality Engineer', 'joins': []}
deplearningenginer {'titile': 'Deep Learning Engineer', 'joins': []}
datavisualizationspecialist {'titile': 'Data Visualization Specialist', 'joins': []}
mlopsenginer {'titile': 'MLOps Engineer', 'joins': []}
businesinteligencedatanalyst {'titile': 'Business Intelligence Data Analyst', 'joins': []}
datasciencenginer {'titile': 'Data Science Engineer', 'joins': []}
dataoperationsmanager {'titile': 'Data Operations Manager', 'joins': []}
leadmachinelearningenginer {'titile': 'Lead Machine Learning Engineer', 'joins': []}
aiscientist {'titile': 'AI Scientist', 'joins': []}
managingdirectordatascience {'titile': 'Managing Director Data Science', 'joins': []}
financedatanalyst {'titile': 'Finance Data Analyst', 'joins': []}
softwaredataenginer {'titile': 'Software Data Engineer', 'joins': []}
machinelearningresearchenginer {'titile': 'Machine Learning Research Engineer', 'joins': []}
compliancedatanalyst {'titile': 'Compliance Data Analyst', 'joins': []}
dataoperationspecialist {'titile': 'Data Operations Specialist', 'joins': []}
businesdatanalyst {'titile': 'Business Data Analyst', 'joins': []}
dataenginer2 {'titile': 'Data Engineer 2', 'joins': []}
cloudataenginer {'titile': 'Cloud Data Engineer', 'joins': []}
analyticsengineringmanager {'titile': 'Analytics Engineering Manager', 'joins': []}
machinelearninginfrastructurenginer {'titile': 'Machine Learning Infrastructure Engineer', 'joins': []}
insightanalyst {'titile': 'Insight Analyst', 'joins': []}
etldeveloper {'titile': 'ETL Developer', 'joins': []}
nlpenginer {'titile': 'NLP Engineer', 'joins': []}
stafdatanalyst {'titile': 'Staff Data Analyst', 'joins': []}
apliedmachinelearningscientist {'titile': 'Applied Machine Learning Scientist', 'joins': []}
awsdatarchitect {'titile': 'AWS Data Architect', 'joins': []}
productdatanalyst {'titile': 'Product Data Analyst', 'joins': []}
machinelearningdeveloper {'titile': 'Machine Learning Developer', 'joins': []}
datavisualizationanalyst {'titile': 'Data Visualization Analyst', 'joins': []}
autonomousvehicletechnician {'titile': 'Autonomous Vehicle Technician', 'joins': []}
salesdatanalyst {'titile': 'Sales Data Analyst', 'joins': []}
dataoperationsanalyst {'titile': 'Data Operations Analyst', 'joins': []}
datasciencelead {'titile': 'Data Science Lead', 'joins': []}
apliedmachinelearningenginer {'titile': 'Applied Machine Learning Engineer', 'joins': []}
etlenginer {'titile': 'ETL Engineer', 'joins': []}
datadevopsenginer {'titile': 'Data DevOps Engineer', 'joins': []}
machinelearningresearcher {'titile': 'Machine Learning Researcher', 'joins': []}
bigdataenginer {'titile': 'Big Data Engineer', 'joins': []}
leadatanalyst {'titile': 'Lead Data Analyst', 'joins': []}
bidataenginer {'titile': 'BI Data Engineer', 'joins': []}
cloudatabasenginer {'titile': 'Cloud Database Engineer', 'joins': []}
financialdatanalyst {'titile': 'Financial Data Analyst', 'joins': []}
datainfrastructurenginer {'titile': 'Data Infrastructure Engineer', 'joins': []}
deplearningresearcher {'titile': 'Deep Learning Researcher', 'joins': []}
datanalyticspecialist {'titile': 'Data Analytics Specialist', 'joins': []}
bigdatarchitect {'titile': 'Big Data Architect', 'joins': []}
computervisionsoftwarenginer {'titile': 'Computer Vision Software Engineer', 'joins': []}
azuredataenginer {'titile': 'Azure Data Engineer', 'joins': []}
marketingdataenginer {'titile': 'Marketing Data Engineer', 'joins': []}
datanalyticslead {'titile': 'Data Analytics Lead', 'joins': []}
managerdatamanagement {'titile': 'Manager Data Management', 'joins': []}
datanalyticsconsultant {'titile': 'Data Analytics Consultant', 'joins': []}
datamanagementspecialist {'titile': 'Data Management Specialist', 'joins': []}
datasciencetechlead {'titile': 'Data Science Tech Lead', 'joins': []}
datascientistlead {'titile': 'Data Scientist Lead', 'joins': []}
marketingdatanalyst {'titile': 'Marketing Data Analyst', 'joins': []}
principaldatarchitect {'titile': 'Principal Data Architect', 'joins': []}
datanalyticsenginer {'titile': 'Data Analytics Engineer', 'joins': []}
cloudatarchitect {'titile': 'Cloud Data Architect', 'joins': []}
leadataenginer {'titile': 'Lead Data Engineer', 'joins': []}
headofmachinelearning {'titile': 'Head of Machine Learning', 'joins': []}
principaldatanalyst {'titile': 'Principal Data Analyst', 'joins': []}